@import '../styles/abstracts/variables';

.bg {
    background-image: url(https://wallpaperset.com/w/full/4/c/1/311005.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    /* background-size: cover; */
    background-position: bottom;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.btn {
    width: fit-content;
}
.card {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: rgba($primary-color, 0.7);
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}
.card h3 {
    font-weight: bold;
}

.card img {
    width: 200px;
    height: 130px;
    border-radius: 20px;
}
.insertForm {
    display: flex;
    flex-direction: row;
    width: 665px;
    height: 330px;
    justify-content: space-around;
    align-items: center;
} 
.column {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}
.insert {
    margin-bottom: 10px;
}