@import '../styles/abstracts/variables';

main {
    padding: 3rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;

    div {
        display: flex;
        flex-direction: column;

        input[type=submit] {

            border-radius: 5px;
            border: 1px solid gray;
            padding: 5px;
            background-color: $primary-color;
            cursor: pointer;

        }
    }
}