a {
	text-decoration: none;
}
* {
	font-family: 'Poppins', sans-serif !important;
	color: $text-color
}
.mainContainer {
    width: 90%;
	min-height: 50vh;
    margin: auto;
	padding: 200px 0 0 0;
}
.main-title {
	display: flex;
    justify-content: center;
	font-size: 2.5rem;
	padding: 3rem 0;
}

.light {
	color: $primary-color;
}
.fail {
	color: red;
	font-weight: bold;
}
.main-btn {
	border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    background-color: $primary-color;
    cursor: pointer;
}
