<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Login - Home Empire</title>
	<!--favicon-->
	
	<!-- loader-->
	<link href="/assets/css/pace.min.css" rel="stylesheet" />
	<script src="/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="/assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="/assets/css/app.css" />
</head>

<body class="bg-register">
	<!-- wrapper -->
	<div class="wrapper">
		<div class="section-authentication-register align-items-center justify-content-center">
			<div class="row">
				<div class="col-6 col-lg-6 mx-auto">
					<div class="card radius-15">
						<div class="row no-gutters">
							<div class="col-lg-12">
								<div class="card-body p-md-5">
									<div class="text-center">
										<h3 class="mt-4 font-weight-bold">Home Empire Admin Login</h3>
									</div>
									<form action="/login" method="post">
										<div class="form-group mt-4">
											<label>Username</label>
											<input type="text" name="username" class="form-control" />
										</div>
										<div class="form-group">
											<label>Password</label>
											<div class="input-group" id="show_hide_password">
												<input class="form-control border-right-0" type="password" name="password">
												<div class="input-group-append">	<a href="javascript:;" class="input-group-text bg-transparent border-left-0"><i class='bx bx-hide'></i></a>
												</div>
											</div>
										</div>
                    <!-- <div class="form-group">
											<label>Display Name</label>
											<input type="text" name="display_name" class="form-control" />
										</div> -->
										<div class="btn-group mt-3 w-100">
											<button type="submit" name="sub" value="submit" class="btn btn-info btn-block">Login</button>
											
											</button>
										</div>
										
									</form>
									
								</div>
							</div>
							
						</div>
						<!--end row-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/assets/js/jquery.min.js"></script>
	<!--Password show & hide js -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
</body>

</html>